<div class="d-flex justify-content-center d-flex flex-row mt-0 pt-3 botones">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto bg-light p-5 mb-5 rounded-3 shadow">
            {{#error}}

            <div class="alert alert-danger" role="alert">

                Viaje no encontrado!

            </div>

            {{/error}}
            {{#vacio}}

            <div class="alert alert-danger" role="alert">

                Debe rellenar los campo para poder buscar!

            </div>

            {{/vacio}}

            <form action="/vuelos/buscarVuelos" method="GET">
                <h5 class="fw-bold">Vuelos</h5>

                <input type="radio" name="tipo_vuelo" value="1" checked> Orbitales
                <input type="radio" name="tipo_vuelo" value="2"> Entre Destinos

                <div class="mt-2 d-flex gap-2">
                    <div>
                           <label for="exampleDataListFecha" class="form-label">Origen</label>
                        <select class="form-select" aria-label="Default select example" name="origen">
                            <option selected disabled>Origen</option>
                            {{#origenes}}
                                <option selected="selected" value="{{origen}}">{{origen}}</option>
                            {{/origenes}}
                        </select>
                    </div>

                    <div>
                        <label for="exampleDataListFecha" class="form-label">Destino</label>
                        <select class="form-select" aria-label="Default select example" name="destino">
                            <option selected disabled>Destino</option>
                            {{#destinos}}
                                <option selected="selected" value="{{destino}}">{{destino}}</option>
                            {{/destinos}}
                        </select>
                    </div>
                    

                    <div>
                        <label for="exampleDataListFecha" class="form-label">Fecha</label>
                        <select class="form-select" aria-label="Default select example" name="fecha">
                            <option selected disabled>Fecha</option>
                            {{#fechas}}
                                <option selected="selected" value="{{fecha}}">{{fecha}}</option>
                            {{/fechas}}
                        </select>
                    </div>

                    <input type="submit" class="btn btn-primary h-50 align-self-end" value="buscar">

            </form>

        </div>


        <table class="table text-center" style="width: 877px">
            <thead>
                <tr>
                    <th scope="col">FECHA PARTIDA</th>
                    <th scope="col">EQUIPO</th>
                    <th scope="col">CIRCUITO</th>
                    <th scope="col">RECORRIDO</th>

                </tr>
            </thead>

            <tbody>


                <form action="" method="post">
                    {{#viajes}}
                    <tr>
                        <td>{{fecha_partida}}</td>
                        <td>{{equipo}}</td>
                        <td>{{circuito}}</td>
                        {{#recorrido}}
                        <td>{{destino}}</td>
                         {{/recorrido}}   
                        {{#esClient}}
                        <td><input type="submit" class="btn btn-primary" value="Reservar">
                        {{/esClient}}
                            
                        {{#esAdmin}}
                        <td><a class="btn btn-success" href="#" value="Modificar">Modificar</a>
                        {{/esAdmin}}

                    </tr>
                    {{/viajes}}
                </form>

            </tbody>
        </table>
    </div>
</div>
</div>